/*Esta seccion indica como debe ser el cuerpo de la pagina*/
  body {
	padding-left: 14em;/*debe ubicarse a la derecha, para dejar espacio a la izquierda para el menu*/
	color: black;/*Indico letras negras*/
	background-color: #dcffff }/*indico color de fondo celeste*/

/*Esta seccion indica como debe el menu, su ubicacion presisa*/
ul.navbar {
	list-style-type: none;/*Sin el item y que no deje espacio vacio*/
	padding: 0;
	margin: 0;
	position: absolute;/*posicion independiente del cuerpo de la pagina*/
	top: 2em;/*ubicacion*/
	left: 1em;
	width: 11em }

/*El menu tiene recuadros blancos*/
ul.navbar li {
	background: white;
	margin: 0.5em 0;
	padding: 0.3em;
	border-right: 1em solid black }/*linea negra a la derecha*/

/*si aun no se ingreso al enlace esta azul, sino purpura*/
ul.navbar a {
	text-decoration: none }
	a:link {
		color: blue }
	a:visited {
		color: purple }

